<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <h1 class="display-5">En GBM sabemos que la tecnología es fundamental para mantenernos a la vanguardia.</h1>
        <p class="lead">Desarrollamos avanzadas plataformas tecnológicas para ofrecer alternativas de inversión online a nuestros clientes.</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>El valor más alto de IPC</h4>
      <h2 id="valor"></h2>
    </div>
    <div class="col-md-6">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>

